<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Аэропорты</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<a href="/" class="btn">Домашняя страница</a>
<tr th:each="airline : ${airlines}">
    <p align="center">
        <a th:href="@{'/airlines/' + ${airline.getAirlineId()}}">
            <td th:text="${airline.getAirlineName()}"></td>
        </a>
    </p>
</tr>
<form action="/airlines/form" method="get">
    <input id="add" type="submit" value="Добавить">
</form>
</body>
</html>