<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<form action="#" th:action="${action}" th:object="${airport}" method="post">
    <table>
        <tr>
            <td>Название аэропорта:</td>
            <td><input id="name" type="text" th:field="*{airportName}"/></td>
            <td th:if="${#fields.hasErrors('airportName')}" th:errors="*{airportName}">Name Error</td>
        </tr>
        <tr>
            <td><button th:if="${operation == 'add'}" id="add" type="submit">Добавить</button></td>
            <td><button th:if="${operation == 'update'}" id="update" type="submit">Редактировать</button></td>
        </tr>
    </table>
</form>
</body>
</html>