<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Информация о рейсе</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<a href="/flights" class="btn">Список рейсов</a>
<p id="name" th:text="'Номер рейса: ' + ${FlightId}"></p>
<p align="center">
    <p>Авиалиния:
        <a id="airlid" th:href="@{'/airlines/' + ${FlightAirlineId.getAirlineId()}}" class="btn" th:text="${FlightAirlineId.getAirlineName()}"></a>
    </p>
    <p>Аэропорт отлета:
        <a id="dep" th:href="@{'/airports/' + ${FlightDeparture.getAirportId()}}" class="btn" th:text="${FlightDeparture.getAirportName()}"></a>
    </p>
    <p>Аэропорт прибытия:
        <a id="arr" th:href="@{'/airports/' + ${FlightArrival.getAirportId()}}" class="btn" th:text="${FlightArrival.getAirportName()}"></a>
    </p>
    <p id="deptime" th:text="'Время вылета: ' + ${FlightDepartureTime}"></p>
    <p id="arrtime" th:text="'Время прилета: ' + ${FlightArrivalTime}"></p>
    <p id="cost" th:text="'Цена: ' + ${FlightCost}"></p>
    <p id="num" th:text="'Количество мест: ' + ${FlightNumber}"></p>
    <p id="miles" th:text="'Расстояние: ' + ${FlightMiles}"></p>
</p>
<form th:action="'/flights/' + ${FlightId} + '/update'" method="get">
    <input id="update" type="submit" value="Редактировать">
</form>
<form action="/flights/delete" method="post">
    <input type="hidden" name="id" th:value="${FlightId}">
<input id="delete" type="submit" value="Удалить">
</form>
</body>
</html>